*,
*::before,
*::after {
	box-sizing: border-box;
}

.calculator-container {
	margin-top: 2rem;
	max-width: 40%;
}

.display {
  min-height: 4rem;
	grid-column: span 4;
	background: red;
}

.calculation {
	/* to keep track of calculation */
}

.input-output {
	/*  reactive to inputed values and displays answer on equals */
}

.keypad-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4px 4px;
	grid-template-rows: repeat(5, 4rem);
	background: orange;
}

.keypad-button {
	background: green;
}

.reset-button {
	grid-column: span 3;
	background: yellow;
}

.zero-button {
	grid-column: span 2;
	background: blue;
}

button {
	border-radius: 8px;
}
