*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #9e10c1, #ff00e1);
}

.calculator-container {
	margin-top: 2rem;
	max-width: 60%;
}

.display {
	border-radius: 10px 10px 0px 0px;
  min-height: 4rem;
	display: flex;
	background: rgba(0, 0, 0, 0.592);
	font-size: 2.5rem;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	word-break: break-all;
}

.display div {
	color: rgba(255,255,255, .75)
}


.keypad-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4px 4px;
	grid-template-rows: repeat(5, 4rem);
	padding: 10px 10px 10px 10px;
	background: rgba(0, 0, 0, 0.214);
	border-radius: 0px 0px 10px 10px ;

}

button {
	background: rgba(255, 255, 255, 0.792);
	border-color:rgb(80, 79, 79);
	transition: background-color 0.3s ease, transform 0.1s ease; 
  cursor: auto;
	border-radius: 6px;
}

button:active {
	background: rgb(80, 79, 79);
  transform: scale(0.98); 
}

.reset-button {
	grid-column: span 3;
}

.zero-button {
	grid-column: span 2;
}

